# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Databases & Environment
calories.db
.env
.env.*
!.env.example
vertex_env_snippet.txt
*.log

# IDE & System
.vscode/
.idea/
.DS_Store

.vercel
